@font-face {
  font-family: "cairo-Black";
  src: url("../fonts/Cairo-Black.woff2") format("woff2"), url("../fonts/Cairo-Black.woff") format("woff"), url("../fonts/Cairo-Black.ttf") format("truetype");
}
@font-face {
  font-family: "cairo-Bold";
  src: url("../fonts/Cairo-Bold.woff2") format("woff2"), url("../fonts/Cairo-Bold.woff") format("woff"), url("../fonts/Cairo-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "cairo-ExtraLight";
  src: url("../fonts/Cairo-ExtraLight.woff2") format("woff2"), url("../fonts/Cairo-ExtraLight.woff") format("woff"), url("../fonts/Cairo-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "cairo-Light";
  src: url("../fonts/Cairo-Light.woff2") format("woff2"), url("../fonts/Cairo-Light.woff") format("woff"), url("../fonts/Cairo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "cairo-Regular";
  src: url("../fonts/Cairo-Regular.woff2") format("woff2"), url("../fonts/Cairo-Regular.woff") format("woff"), url("../fonts/Cairo-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "cairo-SemiBold";
  src: url("../fonts/Cairo-SemiBold.woff2") format("woff2"), url("../fonts/Cairo-SemiBold.woff") format("woff"), url("../fonts/Cairo-SemiBold.ttf") format("truetype");
}
body {
  font-family: "cairo-Regular";
  font-size: 14px;
}

a,
button,
input,
textarea {
  background-color: unset;
  text-decoration: none;
  color: #2b3c67;
  transition: all 0.5s ease;
  display: flex;
  border: 0;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: all 0.5s ease;
}
a:hover, a:focus,
button:hover,
button:focus,
input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none !important;
  color: #f88125;
  text-decoration: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  background-color: #f88125;
  color: white !important;
  transition: all 0.5s ease;
}
button:hover, button:focus {
  background-color: #f88125;
}

h1 {
  font-family: "cairo-Bold";
  font-size: 28px;
}

li,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  width: 100%;
  transition: all 0.5s ease;
}

.aFixx {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  min-height: 40px;
  width: 100%;
  transition: all 0.5s ease;
}
.aFixx.bk-color {
  background-color: #f88125;
  color: white;
  min-width: 112px;
  transition: all 0.5s ease;
}
.aFixx.bk-color:hover, .aFixx.bk-color:focus {
  background-color: #2b3c67;
}
.aFixx.mxw {
  max-width: 160px;
  margin: auto;
  font-size: 16px;
  font-family: "cairo-SemiBold";
  margin-bottom: 30px;
}

.more-btn .aFixx {
  width: 79px;
  height: 35px;
  font-size: 12px;
  color: white;
  text-decoration: underline;
  transition: all 0.5s ease;
}
.more-btn .aFixx:hover, .more-btn .aFixx:focus {
  color: #f88125;
}

.iFixx {
  margin-bottom: 30px;
  width: 100%;
}
.iFixx label {
  font-size: 16px;
  font-family: "cairo-SemiBold";
  margin-bottom: 15px;
}
.iFixx input,
.iFixx textarea {
  height: 40px;
  width: 100%;
  font-family: "cairo-SemiBold";
  color: #2b3c67;
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(43, 60, 103, 0.05);
  padding: 0 20px;
  margin-left: 20px;
  transition: all 0.5s ease;
}
.iFixx input:nth-last-child(1),
.iFixx textarea:nth-last-child(1) {
  margin-left: 0;
}
.iFixx input:hover, .iFixx input:focus,
.iFixx textarea:hover,
.iFixx textarea:focus {
  color: #f88125;
  border-color: #f88125;
}
.iFixx textarea {
  padding: 20px;
  height: 150px;
}

.iFixx-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
.iFixx-container .iFixx {
  width: calc(50% - 20px);
  margin-bottom: unset;
}
@media only screen and (max-width: 992px) {
  .iFixx-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .iFixx-container .iFixx {
    width: 100%;
  }
  .iFixx-container .iFixx input {
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.owl-carousel .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  background-color: rgba(43, 60, 103, 0.5) !important;
}
.owl-carousel .owl-dot.active {
  background-color: #f88125 !important;
}
.owl-carousel .owl-dot span {
  display: none !important;
}

#carousel-custom-dots {
  display: flex;
  margin-top: 20px;
}
#carousel-custom-dots .owl-dot {
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#carousel-custom-dots .owl-dot img {
  max-height: 198px;
  max-width: 198px;
}
#carousel-custom-dots .owl-dot:nth-last-child(1) {
  margin: 0;
}

.flxx-section {
  display: flex;
}

.section-header {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
}
.section-header .header {
  font-size: 30px;
  font-family: "cairo-Bold";
  color: #2b3c67;
}

nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 99;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.navbar .nav-logo {
  max-width: 160px;
}
.navbar .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.navbar .nav-links .single-link {
  padding-left: 35px;
}
.navbar .nav-links .single-link:nth-last-child(1) {
  padding-left: unset;
}
.navbar .nav-links .aFixx {
  color: #2b3c67;
  font-size: 16px;
  font-family: "cairo-SemiBold";
  transition: all 0.5s ease;
}
.navbar .nav-links .aFixx:hover, .navbar .nav-links .aFixx:focus {
  color: #f88125;
}
.navbar .nav-buttons {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar .nav-buttons .add-button {
  margin-left: 12px;
  background-color: #2b3c67;
  transition: all 0.5s ease;
}
.navbar .nav-buttons .add-button:hover, .navbar .nav-buttons .add-button:focus {
  background-color: white;
  color: #f88125;
}
.navbar .nav-buttons .user-button {
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}
.navbar .nav-buttons .user-button:hover, .navbar .nav-buttons .user-button:focus {
  color: #f88125;
}
.navbar .nav-buttons .bars-button {
  display: none;
  color: white;
  cursor: pointer;
  color: #2b3c67;
  transition: all 0.5s ease;
}
.navbar .nav-buttons .bars-button:hover, .navbar .nav-buttons .bars-button:focus {
  color: #f88125;
}
@media only screen and (max-width: 992px) {
  .navbar .nav-buttons {
    display: flex;
  }
}
@media only screen and (max-width: 992px) {
  .navbar .nav-links {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -270px;
    flex-direction: column;
    background-color: white;
    width: 270px;
    align-items: flex-start;
    padding-right: 30px;
    justify-content: flex-start;
    padding-top: 30px;
    z-index: 999;
  }
  .navbar .nav-links .aFixx {
    color: #2b3c67;
  }
  .navbar .nav-links.active {
    right: 0;
  }
  .navbar .nav-buttons .add-button {
    display: none;
  }
  .navbar .nav-buttons .user-button {
    font-size: 16px;
    margin-left: 20px;
    display: none;
  }
  .navbar .nav-buttons .bars-button {
    display: flex;
    font-size: 16px;
  }
}

.nav-fixed-margin {
  margin-top: 120px;
  min-height: 70vh;
}

footer {
  padding-bottom: 30px;
}
footer .footer-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row-reverse;
}
footer .footer-logo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
footer .footer-logo .logoBtn {
  margin-bottom: 30px;
  justify-content: flex-start;
}
footer .footer-logo .logoBtn img {
  max-width: 208px;
}
footer .footer-logo .txt {
  color: white;
  font-family: "cairo-Bold";
  font-size: 20px;
  margin-bottom: 70px;
}
footer .footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .footer-social .aFixx {
  color: #2b3c67;
  justify-content: flex-start;
  margin-left: 26px;
  font-size: 20px;
  transition: all 0.5s ease;
}
footer .footer-social .aFixx:hover, footer .footer-social .aFixx:focus {
  color: #f88125;
}
footer .footer-social li:nth-last-child(1) .aFixx {
  margin: 0;
}
footer .footer-links .aFixx {
  justify-content: flex-start;
  color: #2b3c67;
  font-size: 16px;
  font-family: "cairo-SemiBold";
  transition: all 0.5s ease;
}
footer .footer-links .aFixx:hover, footer .footer-links .aFixx:focus {
  color: #f88125;
}
@media only screen and (max-width: 992px) {
  footer footer .footer-flex {
    flex-wrap: wrap;
  }
  footer footer .footer-logo {
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
  }
  footer footer .footer-logo .logoBtn {
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  footer .footer-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  footer .footer-social {
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
  }
  footer .footer-logo .logoBtn {
    justify-content: center;
  }
  footer .footer-links {
    margin-bottom: 30px;
  }
  footer .footer-links .aFixx {
    justify-content: center;
  }
}

.side-nav {
  background-color: white;
  width: 270px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -270px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  padding: 25px;
  z-index: 99;
  overflow-y: auto;
  padding-bottom: 90px;
  transition: all 0.5s ease;
}
.side-nav .aFixx {
  justify-content: flex-start;
}

.user-img {
  max-width: 200px;
  margin-bottom: 26px;
}
.user-img .aFixx {
  font-size: 16px;
  font-family: "cairo-Bold";
}
.user-img .aFixx i {
  margin-left: 15px;
}
.user-img.active .side-nav {
  right: 0;
}

.close-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 100%;
  bottom: 0;
  z-index: 99;
  background-color: rgba(43, 60, 103, 0.8);
  transition: all 0.5s ease;
}
.close-nav.active {
  left: 0;
}

.hero-section {
  position: relative;
}
.hero-section .hero-socialLinks {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  pointer-events: none;
  top: 0;
  bottom: 0;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .hero-section .hero-socialLinks {
    display: none;
  }
}
.hero-section .hero-socialLinks .btns {
  pointer-events: all;
}
.hero-section .hero-socialLinks .aFixx {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}
.hero-section .hero-socialLinks .aFixx:hover, .hero-section .hero-socialLinks .aFixx:focus {
  color: white;
}
.hero-section .owl-carousel .item {
  position: relative;
}
.hero-section .owl-carousel .txt {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.hero-section .owl-carousel .txt .header {
  font-family: "cairo-Bold";
  font-size: 90px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 992px) {
  .hero-section .owl-carousel .txt .header {
    font-size: 6vw;
  }
}
.hero-section .owl-carousel .txt .info {
  font-family: "cairo-SemiBold";
  font-size: 25px;
}
@media only screen and (max-width: 992px) {
  .hero-section .owl-carousel .txt .info {
    font-size: 3vw;
    text-align: center;
  }
}

.services-section {
  position: relative;
  margin-top: -60px;
  z-index: 999;
}
.services-section .single-service {
  display: flex;
  width: 100%;
  padding: 40px;
  padding-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.services-section .single-service:nth-child(1) {
  background-color: #2b3c67;
}
.services-section .single-service:nth-child(2) {
  background-color: white;
}
.services-section .single-service:nth-child(2) img {
  max-width: 70px;
}
.services-section .single-service:nth-child(2) .info .txt,
.services-section .single-service:nth-child(2) .info .aFixx {
  color: #2b3c67;
}
.services-section .icon img {
  max-width: 55px;
  margin-left: 30px;
}
.services-section .info {
  padding-top: 13px;
  max-width: 340px;
}
.services-section .info .title {
  font-size: 20px;
  font-family: "cairo-Bold";
  color: #f88125;
}
.services-section .info .txt {
  color: white;
  margin-top: 15px;
}
.services-section .info .more-btn .aFixx {
  margin-right: auto;
}
@media only screen and (max-width: 480px) {
  .services-section .flxx-section {
    flex-wrap: wrap-reverse;
  }
  .services-section .single-service {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .services-section .icon img {
    margin: 0;
    margin-bottom: 15px;
  }
}

.blog-section .single-blog {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.blog-section .blog-title {
  position: absolute;
  top: 30px;
  right: 15px;
  padding: 6px 27px;
  font-size: 19px;
  background-color: #f88125;
  color: white;
  border-radius: 8px;
  z-index: 99;
}
.blog-section .blog-img {
  transition: all 0.5s ease;
}
.blog-section .blog-img:hover, .blog-section .blog-img:focus {
  transform: scale(1.1);
}
.blog-section .blog-info .aFixx {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 76px;
  background-color: #2b3c67;
  color: white;
  flex-direction: column;
  padding: 25px 10px;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0;
  text-align: right;
  line-height: 30px;
  transition: all 0.5s ease;
}
.blog-section .blog-info .aFixx span {
  margin-top: 40px;
}
.blog-section .blog-info .aFixx:hover, .blog-section .blog-info .aFixx:focus {
  padding-top: 90px;
  height: 100%;
  opacity: 0.9;
}

.clients-section {
  background-image: url("../images/clients.jpg");
  padding: 1px;
  padding-bottom: 40px;
  margin: 30px 0;
}
.clients-section .section-header .header {
  color: white;
  z-index: 99;
}
.clients-section .owl-carousel .owl-dots {
  margin-top: 30px !important;
}
.clients-section .owl-carousel .owl-dot {
  background-color: white !important;
}
.clients-section .owl-carousel .owl-dot.active {
  background-color: #f88125 !important;
}

/*# sourceMappingURL=main.css.map */
