.hero-section {
  position: relative;
  .hero-socialLinks {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    z-index: 999;
    pointer-events: none;
    top: 0;
    bottom: 0;
    align-items: center;

    @include media($phone) {
      display: none;
    }

    .btns {
      pointer-events: all;
    }
    .aFixx {
      color: white;
      font-size: 20px;
      margin-bottom: 10px;

      @include hover {
        color: white;
      }
    }
  }

  .owl-carousel {
    .item {
      position: relative;
    }

    .txt {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;

      .header {
        font-family: $bd-font;
        font-size: 90px;
        margin-bottom: 20px;

        @include media($tablet) {
          font-size: 6vw;
        }
      }
      .info {
        font-family: $sbd-font;
        font-size: 25px;
        @include media($tablet) {
          font-size: 3vw;
          text-align: center;
        }
      }
    }
  }
}

.services-section {
  position: relative;
  margin-top: -60px;
  z-index: 999;

  .single-service {
    display: flex;
    width: 100%;
    padding: 40px;
    padding-bottom: 20px;
    box-shadow: $shadow;

    &:nth-child(1) {
      background-color: $secondary-color;
    }
    &:nth-child(2) {
      background-color: white;

      img {
        max-width: 70px;
      }
      .info {
        .txt,
        .aFixx {
          color: $secondary-color;
        }
      }
    }
  }

  .icon {
    img {
      max-width: 55px;
      margin-left: 30px;
    }
  }

  .info {
    padding-top: 13px;
    max-width: 340px;

    .title {
      font-size: 20px;
      font-family: $bd-font;
      color: $primary-color;
    }

    .txt {
      color: white;
      margin-top: 15px;
    }

    .more-btn .aFixx {
      margin-right: auto;
    }
  }

  @include media($phone) {
    .flxx-section {
      flex-wrap: wrap-reverse;
    }

    .single-service {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 10px;
    }

    .icon img {
      margin: 0;
      margin-bottom: 15px;
    }
  }
}

.blog-section {
  .single-blog {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
  }

  .blog-title {
    position: absolute;
    top: 30px;
    right: 15px;
    padding: 6px 27px;
    font-size: 19px;
    background-color: $primary-color;
    color: white;
    border-radius: 8px;
    z-index: 99;
  }

  .blog-img {
    @include hover {
      transform: scale(1.1);
    }
  }

  .blog-info {
    .aFixx {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 76px;
      background-color: $secondary-color;
      color: white;
      flex-direction: column;
      padding: 25px 10px;
      justify-content: flex-start;
      align-items: flex-start;
      border-radius: 0;
      text-align: right;
      line-height: 30px;

      span {
        margin-top: 40px;
      }

      @include hover {
        padding-top: 90px;
        height: 100%;
        opacity: 0.9;
      }
    }
  }
}

.clients-section {
  background-image: url("../images/clients.jpg");
  padding: 1px;
  padding-bottom: 40px;
  margin: 30px 0;

  .section-header .header {
    color: white;
    z-index: 99;
  }

  .owl-carousel {
    .owl-dots {
      margin-top: 30px !important;
    }
    .owl-dot {
      background-color: white !important;

      &.active{
        background-color: $primary-color !important ;
      }
    }
  }
}
