footer {

  .footer-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .footer-logo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .logoBtn {
      margin-bottom: 30px;
      justify-content: flex-start;

      img {
        max-width: 208px;
      }
    }

    .txt {
      color: white;
      font-family: $bd-font;
      font-size: 20px;
      margin-bottom: 70px;
    }
  }

  .footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .aFixx {
      color: $secondary-color;
      justify-content: flex-start;
      margin-left: 26px;
      font-size: 20px;

      @include hover {
        color: $hover-color;
      }
    }

    li:nth-last-child(1) {
      .aFixx {
        margin: 0;
      }
    }
  }

  .footer-links {
    .aFixx {
      justify-content: flex-start;
      color: $secondary-color;
      font-size: 16px;
      font-family: $sbd-font;

      @include hover {
        color: $hover-color;
      }
    }
  }

  @include media($tablet) {
    footer .footer-flex{
      flex-wrap: wrap;
    }

    footer .footer-logo{
      width: 100%;
      margin-bottom: 30px;
      align-items: center;
    }

    footer .footer-logo .logoBtn{
      justify-content: center;
    }
  }

  @include media($phone) {
    .footer-flex {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .footer-social{
      justify-content: center;
      margin: auto;
      margin-bottom: 40px;
    }

    .footer-logo .logoBtn{
      justify-content: center;
    }

    .footer-links{
      margin-bottom: 30px;
      
      .aFixx{
        justify-content: center;
      }
    } 
  }
}
