$primary-color: #F88125;
$secondary-color: #2B3C67;
$hover-color: #F88125;
$gray-color: #EAEAEA;

$rg-font: 'cairo-Regular';
$lt-font: 'cairo-Light';
$bd-font: 'cairo-Bold';
$sbd-font: 'cairo-SemiBold';
$bk-font: 'cairo-Black';

$phone: 480px;
$tablet: 992px;
$labtop: 1200px;