$primary-color: #f88125;
$secondary-color: #2b3c67;
$hover-color: #f88125;
$gray-color: #eaeaea;
$shadow: 0 3px 6px rgb(0 0 0 / 16%);

$rg-font: "cairo-Regular";
$lt-font: "cairo-Light";
$bd-font: "cairo-Bold";
$sbd-font: "cairo-SemiBold";
$bk-font: "cairo-Black";

$phone: 480px;
$tablet: 992px;
$labtop: 1200px;
